@model BankRoot.Models.Account

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.account_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.account_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.account_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.account_status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.App_user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.App_user.Id_app_user)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_account">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
