@model IEnumerable<BankRoot.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.account_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.account_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.App_user)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.account_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.account_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.App_user.Id_app_user)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_account">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_account">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_account">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
